<launch>
  <arg name="identifier" default="0"/>
  <arg name="multi_robot_name" value="robot_$(arg identifier)"/>
  <arg name="set_lidar_frame_id" value="base_scan"/>

  <group ns="robot_$(arg identifier)">
    <param name="tf_prefix" value="robot_$(arg identifier)_tf"/>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
      <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
      <arg name="identifier" value="$(arg identifier)"/>
    </include>
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
      <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
      <arg name="identifier" value="$(arg identifier)"/>
    </include>
    <node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics_$(arg identifier)" output="screen"/>
  </group>
</launch>
